events {
    worker_connections 1024;
}

http {
    upstream webapp {
        server 192.168.1.113:8000;
        server 192.168.1.113:8001;
        server 192.168.1.113:8002;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://webapp;
        }
    }
}
